*.iml
.gradle
/local.properties
/.idea
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/app/build
*.apk
*.aab
*.jks
*.keystore
app-debug.zip
app-release-unsigned.zip
jdk/
debug-apk.zip
*.apk
AndroidBrowser-v2.1.0-debug.zip
*.zip
.git-token
